/* $Id$ */

body {
  font-family: Arial;
  font-size: 12px;
  color: #666666;
  line-height: 18px;
  background: #FFFFFF url(../img/body_bg.jpg) repeat-x left top;
}
table {
    width: 100%;
}
h1, h2 {
  font-family: Georgia;
  margin: 15px 0px;
  line-height: 1.2em;
}

h1 {
  font-size: 26px;
  color: #2B6C74;
}

h2, #main h2 a {
  font-size: 20px;
  color: #358791;
}

h3 {
  font-size: 17px;
  color: #666666;
}

p {
  margin: 10px 0px;
}

.c-b {
  clear: both;
}
a {
    text-decoration: none;
}

/* border solid bottom #ccc */
.b-s-b-ccc {
  border-bottom: 1px solid #CCCCCC;
}

div.messages {
  padding: 20px 20px 20px 70px;
  color: #333333;
  margin: 10px 0px;
}

div.messages ul {
  padding-left: 10px;
}

div.messages.error {
  background: #FFD2D2 url(../img/message_error_ico.jpg) no-repeat 0px 13px;
}

div.messages.status {
  background: #BFFFBF url(../img/message_status_ico.jpg) no-repeat 0px 13px;
}

div.messages.warning {
  background: #BFD9FF url(../img/message_warning_ico.jpg) no-repeat 0px 13px;
}

/* HEADER */
#header {
  background: transparent url(../img/header_bg.jpg) no-repeat center top;
  height: 140px;
  margin: 0px auto;
}

#header-inner {
  width: 960px;
  margin: 0px auto;
}

#header-bottom {
  height: 64px;
}

#header-top {
  height: 76px;
}

#logo {
  margin-left: 10px;
  float: left;
}

#site-slogan {
  color: #FFFFFF;
  font-size: 14px;
  float: left;
  margin: 31px 0px 0px 5px;
  max-width: 500px;
}

#search-box {
  float: right;
  padding: 20px 10px 0px 0px;
}

#search-box div.form-item-search-block-form {
  float: left;
  margin: 0px;
}

#edit-search-block-form--2 {
  background: transparent url(../img/search_input_bg.png) no-repeat left top;
  border: none;
  font-size: 14px;
  height: 36px;
  padding: 0px 0px 0px 15px;
  width: 179px;
}

#search-box div.form-actions {
  margin: 0px;
  float: left;
}

#primary {
  background: transparent url(../img/header_bottom_bg.png) no-repeat left top;
  height: 59px;
  clear: left;
  width: 100%;
  overflow: hidden;
}

#primary .primary-links a {
  font-size: 15px;
  color: #FFFFFF;
  font-family: Georgia;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  background: transparent url(../img/primary_links_bg.jpg) no-repeat left top;
}

#primary .primary-links .first a {
  background: none;
  padding-left: 40px;
}

#primary .primary-links {
  padding-top: 26px;
  display: block;
}

#primary .primary-links li {
  padding: 0px;
}

/* PAGE */
#page {
  width: 960px;
  margin: 0px auto;
}

#secondary {
  height: 42px;
  width: 960px;
  background: url(../img/secondary_links_bg.png) no-repeat center bottom;
}

#secondary .secondary-links a {
  color: #2B6C73;
  font-weight: bold;
  text-decoration: none;
}

#secondary .secondary-links {
  padding: 8px 0px 0px 15px;
  display: block;
}

#secondary .secondary-links li {
  padding: 0px 10px;
}

#main {
  float: left;
  margin: 0px 20px;
  padding: 0px 0px 20px 0px;
}

body.one-sidebar #main {
  width: 680px;
}

body.two-sidebars #main {
  width: 480px;
}
#main a {
  color: #FF6600;
  text-decoration: none;
}

.sidebar {
  width: 220px;
}

.sidebar .block {
  background: transparent url(../img/block_content_bg.jpg) repeat-y left top;
  padding: 0px 20px;
}
.sidebar .block h2 {
    font-family: Arial, Helvetica, sans;
}
.sidebar .block p {
    margin: 0px;
    padding: 5px 0px;
}

.sidebar .block-top {
  background: transparent url(../img/block_orange_header_bg.jpg) no-repeat left top;
  height: 11px;
  margin: 10px 0px 0px 0px;
}

.sidebar .block-bottom {
  background: transparent url(../img/block_bottom_bg.jpg) no-repeat left top;
  height: 15px;
  margin: 0px 0px 10px 0px;
}

.sidebar a {
  color: #2B6D75;
}

.sidebar h2 {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  padding-top: 10px;
  margin-top: 0px;
}

#user-login-top {
  background: transparent url(../img/login_block_header_bg.jpg) no-repeat left top;
  height: 50px;
  padding: 0px 20px;
  margin-top: 10px;
}

#user-login-block {
  background: transparent url(../img/login_block_content_bg.jpg) repeat-y left top;
}

#user-login-block .form-item, #user-login-block .form-actions {
  margin: 0px;
}

#user-login-bottom {
  background: transparent url(../img/login_block_bottom_bg.jpg) no-repeat left top;
}

#user-login-form {
  text-align: center;
}

#user-login-top h2 {
  color: #FFFFFF;
  font-family: Arial;
}

#user-login-form a {
  color: #7DF2FF;
  text-decoration: none;
}

#user-login-form .item-list ul {
  padding-left: 0px;
  padding-top: 10px;
}

#user-login-form .item-list ul li {
  list-style-type: none;
  margin-left: 0px;
}

#user-login-form .form-item label {
  text-align: left;
  color: #FFFFFF;
}

#user-login-form .form-item label span.form-required {
  color: #FF9900;
}

#user-login-form input.form-text {
  border: none;
  padding: 3px 5px;
  width: 160px;
  border: 2px solid #D0E494;
}

#user-login-form #edit-submit--2 {
  background: #FF9900;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9900', endColorstr='#FF6600');
  background: -webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#FF6600));
  background: -moz-linear-gradient(top, #FF9900, #FF6600);
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px 15px;
}

#user-login-form #edit-name-wrapper {
  margin-top: 0px;
}

/* TABS */
div.tabs ul {
  padding: 0px;
  margin: 0px 0px 5px 0px;
  height: 26px;
}
div.tabs ul li {
  padding: 0px 0px;
  margin-right: 3px;
  display: block;
  float: left;
  border: 0px;
}
div.tabs li a {
  color: #333333;
  display: block;
  float: left;
  border: 0px;
  margin-right: 3px;
  height: 18px;
  padding: 5px 20px 3px 20px;
  background: #E9E9E9 url("../img/tab_bg.jpg") repeat-x top left;
}
div.tabs li a.active {
  background: #FFFFFF;
  border-bottom: 0px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}


#main div.meta {
  background: #F0F2F3;
  margin-top: 10px;
}

#main div.meta a {
  color: #666666;
}

#main div.meta div.meta-row {
  padding: 5px 15px;
}

/* BLOCK MENU */
.menu .expanded {
    list-style-image: url("../img/menu_open.png");
}
.menu .collapsed {
    list-style-image: url("../img/menu_closed.png");
}

.menu .leaf {
    list-style-image: none;
    list-style-type: none;
}
.menu .active {
    font-weight: bold;
}

/* BREADCRUMB */
#breadcrumb {
    background: url("../img/breadcrumb_bg.png") no-repeat top left;
    margin-top: 10px;
}
#breadcrumb .breadcrumb{
    background: url("../img/breadcrumb_endbg.png") no-repeat top right;
    height: 24px;
    padding: 6px 10px 0px 10px;
}
#breadcrumb a {
    background: url("../img/breadcrumb_split.png") no-repeat 100% 50%;
    color: #666;
    display: block;
    padding-right: 14px;
    margin-right: 8px;
    height: 20px;
    float: left;
}

/* FORMS */
fieldset {
    padding: 15px;
    border: 1px solid #DDD;
    margin: 10px 0px;
}
fieldset legend {
    font-weight: bold;
}

/* PAGER */
#main ul.pager {
  margin: 15px 0px;
}
#main ul.pager li {
  margin: 0px 0px 0px 2px;
  padding: 2px 7px;
  border: 1px solid #D3E2ED;
}

#main ul.pager li.pager-current {
  background: #2B6D75;
  border-color: #2B6D75;
  color: #FFFFFF;
}

#main ul.pager li.pager-next, #main ul.pager li.pager-last, #main ul.pager li.pager-previous, #main ul.pager li.pager-first {
  border: none;
}

#main ul.pager li a {
  color: #2B6C74;
  text-decoration: none;
}

/* COMMENTS */
#comments {
  margin-top: 50px;
}

#main div.comment {
  border-top: 1px dashed #999999;
  margin-bottom: 25px;
}

#main div.comment h3, #main div.comment h3 a {
  color: #333333;
  font-size: 14px;
  margin: 10px 0px 3px 0px;
}

#main div.comment div.submitted {
  color: #999999;
  margin-bottom: 15px;
}

/* LEFT */
#sidebar-left {
  float: left;
}

/* RIGTH */
#sidebar-right {
  float: right;
}

/* FOOTER */
#footer {
  background: #666666;
  color: #CCC;
}

.footer-inner {
  width: 960px;
  margin: 0px auto;
  padding: 10px 0px;
}

#footer-message {
  text-align: center;
  border-top: 1px solid #999999;
}

#footer div.block {
  width: 220px;
  float: left;
  padding: 0px 10px;
}

#footer h2 {
  color: #FFFFFF;
  text-transform: uppercase;
}

#footer li {
  border-bottom: 1px dotted #999999;
  background: transparent url(../img/footer_list_bg.jpg) no-repeat 3px 10px;
  padding-left: 15px;
}

#footer a {
  color: #FFFFFF;
}
#footer a:hover {
  text-decoration: underline;
}

/* Front */
#front-page-wrapper {
  background: #E7F0F1 url(../img/front_top_bg.jpg) repeat-x left bottom;
  padding-bottom: 10px;
}

#front-page {
  background: transparent url(../img/front_top_inner_bg.jpg) no-repeat left top;
  margin: 0px auto;
  min-height: 112px;
}

#front-page-inner {
  width: 960px;
  margin: 0px auto;
}

#front-page-inner div.block {
  float: left;
  width: 300px;
  padding: 0px 10px;
}

#front-page-inner div.block h2 {
  color: #333333;
  text-transform: uppercase;
}

#front-page-inner div.block a {
  color: #FF6600;
  text-decoration: none;
}
.pt_logo {
    background: url("../img/premium_themes_logo.png") no-repeat top left;
    width: 160px;
    height: 43px;
    display: block;
    margin: 5px auto 5px auto;
}